@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font   font-family: "Oswald", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@700&family=Roboto&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@700&family=Roboto&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://db.onlinewebfonts.com/t/a8c1f086a54b845a6f128a35818e0b02.eot");

@font-face {
    font-family: 'Titling Gothic FB Wide Bold';
    src: url('path/to/TitlingGothicFBWide-Bold.woff2') format('woff2'),
         url('path/to/TitlingGothicFBWide-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(237, 237, 237);
}

html {
    background-color: rgb(237, 237, 237);
}

.div1 {
    /* transform: trans; */
    margin: auto;
    padding: 0px 20px;
}

.div2 {
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    letter-spacing: 3px;
    color: black;
    gap: 29rem;
    padding: 20px 40px;
    line-height: 20px;
    animation-name: nav;
    animation-duration:5s;
    animation-delay: 0s;
    animation-timing-function: linear;
    /* animation-duration: entry 0% cover 10px; */
}

nav {
    width: 100%;
    height: 100%;
    /* opacity: 0; */
    /* padding:5p 10px 5px 10px; */
    /* border-bottom: 2px solid black; */
}

ul {
    font-size: 0.7rem;
    /* font-weight: 400; */
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    /*ul width */
    font-style: initial;
    letter-spacing: 3px;
    text-transform: uppercase;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.img-1 {
    position: relative;
    height: 20px;
    width: 20px;
    top: 5px;
    right: 8px;
}

#color-red {
    color: red;
}

.div3 {
    color: rgba(140, 139, 139, 0.707);
    word-spacing: 2px;
    position: absolute;
    left: 100px;
    font-size: 16px;
    width: 510px;
    text-transform: uppercase;
    font-family: 'Titling Gothic FB Wide Bold', sans-serif;
    line-height: 25px;
}

.div3 h2 {
    font-weight: 900;
    /* opacity: 0.3; */
    animation-name: weAre;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-timing-function: ease-in;

}

.div4 {
    /* line-height: normal; */
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    animation-name: brand;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: linear;


}

.div4 h1 {
    background-color: transparent;
    position: relative;
    box-shadow: 30px;
    top: 3rem;
    left: 23rem;
    font-weight: 900;
    z-index: 20;
    background-color: transparent;
    text-shadow: 20px red;
    font-family: "titling-gothic-fb-wide", sans-serif;
    text-transform: uppercase;
    letter-spacing: 10rem;
    font-size: 8rem;
    color: rgb(255, 0, 0);
}

.div-5 {
    font-size: 15px;
    position: absolute;
    top: 20rem;
    left: 20rem;
    font-family: "titling-gothic-fb-wide", sans-serif;
    text-transform: uppercase;
    /* opacity: 0; */
    /* animation-name: play; */
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-timing-function: linear;

}

.div-5>img {
    height: 20px;
    width: 20px;
}

.div-5 span{
    color: red;
}
.div-6 {
    font-family: "titling-gothic-fb-wide", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 25rem;
    left: 14rem;
    font-weight: 800;
    /* row-gap: 4px; */
    /* opacity: 0; */
    line-height: 40px;
    /* animation-name: market; */
    animation-duration: 2s;
    animation-delay: 0.1s;
    animation-timing-function: ease-in;
    /* opacity: 0; */
}

.div-7 p {
    font-family: "titling-gothic-fb-wide", sans-serif;
    position: absolute;
    top: 32rem;
    left: 15rem;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 17px;
    /* opacity: 0; */
    /* animation-name: ourCont; */
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: linear;

}

.div-8 {
    font-family: "titling-gothic-fb-wide", sans-serif;
    position: absolute;
    top: 40rem;
    left: 15rem;
    text-transform: uppercase;
    /* opacity: 0; */
    line-height: 20px;
}

.div-8 .p1 {
    font-weight: 900;
    color: black;
}

.div-8 .p2 {
    font-weight: 900;
    color: gray;
}

.div-8 .p3 {
    font-weight: 900;
    font-size: 15px;
    color: rgba(128, 128, 128, 0.69);

}

.div-9 p {
    color: black;
    text-transform: uppercase;
    position: fixed;
    top: 38rem;
    left: 0;
    rotate: 270deg;
    font-size: 12px;
    /* translate: ; */
}

.last-anch {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    background-color: transparent;
    text-transform: uppercase;
    position: fixed;
    top: 41.8rem;
    right: 3.6rem;
    text-underline-offset: 10px;
    text-decoration-thickness: 1.3px;
    /* rotate: 270deg; */
    font-size: 10px;
    font-weight: 300;
    z-index: 20;
    /* transition: transform;
transition-duration: 3s;
transition-delay: 0; */
    /* transition-timing-function: ; */
}

.p1 {
    color: black;
    font-weight: 400;
    text-shadow: 40px black;
}

.div-11 {
    height: 600px;
    width: 500px;
    position: absolute;
    top: 100px;
    right: 175px;
    bottom: 0px;
    /* opacity: 0; */
    z-index: 12;
    background-image: url('image/girl.jpg');
    background-size: cover;
    /* animation-name: img; */
    animation-duration: 3s;
    animation-delay: 0.3s;
    animation-timing-function: linear;
}

 @keyframes weAre{
    from{
      opacity: 0;
        transform:translateX(-30px);
    }
    to{
        opacity: 1;
         transform:translateX(0px);
    }    
}
   
@keyframes img{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
  to {
        transform: translateY(0px);
        opacity: 1;
    }
} 
@keyframes play {
from {
    opacity: 0;
    transform: translateX(-10px);
  
}
to{
    transform: translateX(0px);
    opacity: 1;
}   }
/* play-state */
@keyframes ourCont{
    from{
        opacity: 0;
        transform: translateX(-10px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes nav{
from{
    opacity: 0;
    transform: translateY(-60px);
}
to{
    opacity: 1;
    transform: translateY(0px);
}
} 
@keyframes brand {
    from {
        /* splines hint for 3d images
         */
        opacity: 0;
        transform: translateX(30px);
        filter: blur(400px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
        
    }
}

 @keyframes market{
    from{
        opacity: 0;
       transform:translateX(-20px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
    
    } 